include inmanta_plugins/dummy_module/setup.cfg
include inmanta_plugins/dummy_module/py.typed
recursive-include inmanta_plugins/dummy_module/model *.cf
graft inmanta_plugins/dummy_module/files
graft inmanta_plugins/dummy_module/templates
